
		h1 {font-family: 'Open Sans';
		color: white;
		font-size: 100px;
		}

		body {
		font-family: 'Open Sans';
		text-align:center;
		background-image: url("pattern.png");
		background-size: 100%;
		color: #C6BEB1;}

		a {
		text-decoration: none;
		font-weight: bold;
		color: #C6BEB1;
		font-size: 12px;
		text-transform: uppercase;
		padding: 10px;
		}
		a:hover{
		color: white;
		transition: all 0.5s ease-in-out;
		}

		nav {
		text-align:right;
		margin:0 auto;}

		ul {  
		list-style-type: none;
		margin: 0;
		padding: 0;}

		li {
		display:inline;}

		input[type="search"]{
		color: #a1a1a1;
		height: 25px;
		border-radius: 2em 3em 2em 3em;
		font-family: 'Open Sans';}

		input[type="search"]:focus {outline: 0;}

		button{
		background-color: #a1a1a1;
		width: 110px;
		height: 25px;
		font-size: 9px;
		color: #FFFFFF;
		text-decoration:none;
		text-transform: uppercase;
		text-align: center;
		line-height: 20px;
		border-radius: 2em 5em 2em 5em;
		}

		button:focus {outline:0;}

		::selection {
		color: #707070; 
		}		
